****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [8]:
import json
import pandas as pd
from pandas.io.json import json_normalize

jsondata = json.load(open('data/world_bank_projects.json')) 
df = json_normalize(jsondata) # load json into pandas

df.head() # first, let's see some obs

,_id.$oid,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1.Name,theme1.Percent,theme_namecode,themecode,totalamt,totalcommamt,url
0,52b213b38594d8a2be17c780,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,Education for all,100,"[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,52b213b38594d8a2be17c781,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,IBRD,Active,N,Other economic management,30,"[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,52b213b38594d8a2be17c782,2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,IBRD,Active,Y,Regional integration,46,"[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,52b213b38594d8a2be17c783,2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,IBRD,Active,N,Participation and civic engagement,50,"[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,52b213b38594d8a2be17c784,2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,IBRD,Active,N,Export development and competitiveness,30,"[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [9]:
len(df) # check number of observations (projects)

500

In [10]:
df.index.get_duplicates() # check if there is no duplicate

[]

In [11]:
# see the list of all variables.
df.columns.values.tolist()

['_id.$oid',
 'approvalfy',
 'board_approval_month',
 'boardapprovaldate',
 'borrower',
 'closingdate',
 'country_namecode',
 'countrycode',
 'countryname',
 'countryshortname',
 'docty',
 'envassesmentcategorycode',
 'grantamt',
 'ibrdcommamt',
 'id',
 'idacommamt',
 'impagency',
 'lendinginstr',
 'lendinginstrtype',
 'lendprojectcost',
 'majorsector_percent',
 'mjsector_namecode',
 'mjtheme',
 'mjtheme_namecode',
 'mjthemecode',
 'prodline',
 'prodlinetext',
 'productlinetype',
 'project_abstract.cdata',
 'project_name',
 'projectdocs',
 'projectfinancialtype',
 'projectstatusdisplay',
 'regionname',
 'sector',
 'sector1.Name',
 'sector1.Percent',
 'sector2.Name',
 'sector2.Percent',
 'sector3.Name',
 'sector3.Percent',
 'sector4.Name',
 'sector4.Percent',
 'sector_namecode',
 'sectorcode',
 'source',
 'status',
 'supplementprojectflg',
 'theme1.Name',
 'theme1.Percent',
 'theme_namecode',
 'themecode',
 'totalamt',
 'totalcommamt',
 'url']

In [12]:
# It looks like we need 3 variables 'mjtheme_namecode', 'countryname', '_id.$oid'. 
# '_id.$oid' seems like an identifier of a project, which should be unique along obs.
# 'countryname' seems like a name of a country.
# 'mjtheme_namecode' is major project theme (given by the question).  
df[['mjtheme_namecode', 'countryname', '_id.$oid']].head()

,mjtheme_namecode,countryname,_id.$oid
0,"[{'code': '8', 'name': 'Human development'}, {...",Federal Democratic Republic of Ethiopia,52b213b38594d8a2be17c780
1,"[{'code': '1', 'name': 'Economic management'},...",Republic of Tunisia,52b213b38594d8a2be17c781
2,"[{'code': '5', 'name': 'Trade and integration'...",Tuvalu,52b213b38594d8a2be17c782
3,"[{'code': '7', 'name': 'Social dev/gender/incl...",Republic of Yemen,52b213b38594d8a2be17c783
4,"[{'code': '5', 'name': 'Trade and integration'...",Kingdom of Lesotho,52b213b38594d8a2be17c784

In [13]:
# Check '_id.$oid' variable. This variable should be unique by observation 
df['_id.$oid'].isnull().values.ravel().sum() # = 0 means no missing

0

In [14]:
df['_id.$oid'].index.get_duplicates() # is empty means no duplicating id

[]

In [15]:
# '_id.$oid' seems like a valid identifier so we can proceed and assign index to our dataframe. 
df = df.set_index(df['_id.$oid']) 
df[['countryname']].head()

                                                      countryname
_id.$oid
52b213b38594d8a2be17c780  Federal Democratic Republic of Ethiopia
52b213b38594d8a2be17c781                      Republic of Tunisia
52b213b38594d8a2be17c782                                   Tuvalu
52b213b38594d8a2be17c783                        Republic of Yemen
52b213b38594d8a2be17c784                       Kingdom of Lesotho

In [16]:
# [Question 1]: Check if 'countryname' is actually a country name.  
df['countryname'].unique()

array(['Federal Democratic Republic of Ethiopia', 'Republic of Tunisia',
       'Tuvalu', 'Republic of Yemen', 'Kingdom of Lesotho',
       'Republic of Kenya', 'Republic of India',
       "People's Republic of China", 'Kingdom of Morocco',
       'Republic of South Sudan', 'Republic of Ghana',
       'Democratic Republic of Timor-Leste', 'Hashemite Kingdom of Jordan',
       'Samoa', 'Republic of Madagascar', 'Kingdom of Cambodia',
       'Kyrgyz Republic', 'Nepal', 'Republic of Tajikistan',
       'Republic of Azerbaijan', 'East Asia and Pacific',
       "Lao People's Democratic Republic", 'Pacific Islands',
       'Solomon Islands', 'Republic of Mozambique',
       "People's Republic of Angola", 'United Republic of Tanzania',
       'Federal Republic of Nigeria', 'Republic of Seychelles',
       "People's Republic of Bangladesh", 'Republic of Senegal',
       'Republic of the Union of Myanmar', 'West Bank and Gaza',
       'Argentine Republic', 'Republic of The Gambia',
       'Russian Federation', 'Republic of Congo',
       'Democratic Republic of Sao Tome and Prin', 'Africa', 'Ukraine',
       'Union of the Comoros', 'Republic of Colombia',
       "Republic of Cote d'Ivoire", 'Republic of Sierra Leone', 'World',
       'Republic of Peru', 'Republic of Ecuador', 'Republic of Honduras',
       'Islamic State of Afghanistan', 'Islamic Republic of Mauritania',
       'Lebanese Republic', 'Burkina Faso',
       'Republic of the Marshall Islands', 'Republic of Liberia',
       'Republic of Zimbabwe', 'Republic of Mali', 'Republic of Indonesia',
       'Republic of Armenia', 'Republic of Guinea', 'South Asia',
       'Republic of Kazakhstan', 'Arab Republic of Egypt',
       'Republic of Croatia', 'Georgia', 'Republic of Turkey',
       'Federative Republic of Brazil', 'Republic of Cape Verde',
       'Republic of Benin', 'Republic of Chad', 'Republic of Haiti',
       'Republic of Poland', 'Middle East and North Africa',
       'Republic of Albania', 'Republic of Vanuatu',
       'Democratic Republic of the Congo', 'Republic of Cameroon',
       'Republic of Chile', 'Republic of Belarus',
       'Islamic Republic of Pakistan', 'Antigua and Barbuda',
       'Republic of Djibouti', 'Mongolia', 'Republic of Togo',
       'Socialist Republic of Vietnam', 'Republic of Niger',
       'Republic of Zambia', 'Republic of the Sudan', 'Republic of Malawi',
       'Republic of Uganda', 'Kingdom of Bhutan', 'Republic of Moldova',
       'Republic of Rwanda', 'Republic of Kosovo',
       'Macedonia, former Yugoslav Republic of', 'Republic of Burundi',
       'Republic of Maldives', 'Republic of Serbia', 'Romania',
       'Republic of Uzbekistan', 'Republic of Nicaragua',
       'The Independent State of Papua New Guine',
       'Democratic Socialist Republic of Sri Lan', 'Republic of Mauritius',
       'Republic of Panama', 'Republic of the Philippines',
       'Republic of Kiribati', 'Kingdom of Thailand',
       'Europe and Central Asia', 'Republic of Namibia',
       'Central African Republic', 'United Mexican States',
       'Kingdom of Tonga', 'Oriental Republic of Uruguay', 'Jamaica',
       'Bosnia and Herzegovina', 'Plurinational State of Bolivia',
       'Republic of Costa Rica', 'Republic of Guatemala'], dtype=object)

In [17]:
# Variable 'country' seems to be what we need. 
# Next, let's check how many projects that do not have 'countryname'.
df['countryname'].isnull().values.ravel().sum()

0

In [18]:
# ANSWER TO QUESTION (1)
df_temp = df[['_id.$oid','countryname']].groupby('countryname').count()
df_temp.sort_values('_id.$oid',ascending=False).head(11)
# Output of this cell is an answer for question 1. 
# Note that I put down top 11 countries to see that the 11th one is less than the 10th.

                                 _id.$oid
countryname
People's Republic of China             19
Republic of Indonesia                  19
Socialist Republic of Vietnam          17
Republic of India                      16
Republic of Yemen                      13
People's Republic of Bangladesh        12
Nepal                                  12
Kingdom of Morocco                     12
Republic of Mozambique                 11
Africa                                 11
Burkina Faso                            9

In [19]:
# [Question 2]: We saw that 'mjtheme_namecode' is nested so first we need to re-download the data.  
df_by_theme = json_normalize(jsondata,'mjtheme_namecode',['countryname',['_id','$oid']])
df_by_theme

,code,name,countryname,_id.$oid
0,8,Human development,Federal Democratic Republic of Ethiopia,52b213b38594d8a2be17c780
1,11,,Federal Democratic Republic of Ethiopia,52b213b38594d8a2be17c780
2,1,Economic management,Republic of Tunisia,52b213b38594d8a2be17c781
3,6,Social protection and risk management,Republic of Tunisia,52b213b38594d8a2be17c781
4,5,Trade and integration,Tuvalu,52b213b38594d8a2be17c782
5,2,Public sector governance,Tuvalu,52b213b38594d8a2be17c782
6,11,Environment and natural resources management,Tuvalu,52b213b38594d8a2be17c782
7,6,Social protection and risk management,Tuvalu,52b213b38594d8a2be17c782
8,7,Social dev/gender/inclusion,Republic of Yemen,52b213b38594d8a2be17c783
9,7,Social dev/gender/inclusion,Republic of Yemen,52b213b38594d8a2be17c783
10,5,Trade and integration,Kingdom of Lesotho,52b213b38594d8a2be17c784
11,4,Financial and private sector development,Kingdom of Lesotho,52b213b38594d8a2be17c784
12,6,Social protection and risk management,Republic of Kenya,52b213b38594d8a2be17c785
13,6,,Republic of Kenya,52b213b38594d8a2be17c785
14,2,Public sector governance,Republic of India,52b213b38594d8a2be17c786
15,4,Financial and private sector development,Republic of India,52b213b38594d8a2be17c786
16,11,Environment and natural resources management,People's Republic of China,52b213b38594d8a2be17c787
17,8,,People's Republic of China,52b213b38594d8a2be17c787
18,10,Rural development,Republic of India,52b213b38594d8a2be17c788
19,7,,Republic of India,52b213b38594d8a2be17c788
20,2,Public sector governance,Kingdom of Morocco,52b213b38594d8a2be17c789
21,2,Public sector governance,Kingdom of Morocco,52b213b38594d8a2be17c789
22,2,Public sector governance,Kingdom of Morocco,52b213b38594d8a2be17c789
23,10,Rural development,Republic of South Sudan,52b213b38594d8a2be17c78a
24,2,,Republic of South Sudan,52b213b38594d8a2be17c78a
25,10,Rural development,Republic of India,52b213b38594d8a2be17c78b
26,6,Social protection and risk management,Republic of India,52b213b38594d8a2be17c78b
27,6,Social protection and risk management,Republic of India,52b213b38594d8a2be17c78b
28,11,Environment and natural resources management,Republic of India,52b213b38594d8a2be17c78b
29,4,,Republic of Ghana,52b213b38594d8a2be17c78c
...,...,...,...,...
1469,8,Human development,Federative Republic of Brazil,52b213b38594d8a2be17c968
1470,9,Urban development,The Independent State of Papua New Guine,52b213b38594d8a2be17c969
1471,6,Social protection and risk management,The Independent State of Papua New Guine,52b213b38594d8a2be17c969
1472,6,Social protection and risk management,The Independent State of Papua New Guine,52b213b38594d8a2be17c969
1473,9,Urban development,The Independent State of Papua New Guine,52b213b38594d8a2be17c969
1474,2,Public sector governance,Nepal,52b213b38594d8a2be17c96a
1475,2,Public sector governance,Nepal,52b213b38594d8a2be17c96a
1476,10,Rural development,West Bank and Gaza,52b213b38594d8a2be17c96b
1477,11,,West Bank and Gaza,52b213b38594d8a2be17c96b
1478,8,Human development,Islamic Republic of Pakistan,52b213b38594d8a2be17c96c
1479,7,Social dev/gender/inclusion,Islamic Republic of Pakistan,52b213b38594d8a2be17c96c
1480,11,Environment and natural resources management,People's Republic of Bangladesh,52b213b38594d8a2be17c96d
1481,5,,People's Republic of Bangladesh,52b213b38594d8a2be17c96d
1482,6,Social protection and risk management,Nepal,52b213b38594d8a2be17c96e
1483,8,,Nepal,52b213b38594d8a2be17c96e
1484,4,Financial and private sector development,Jamaica,52b213b38594d8a2be17c96f
1485,7,Social dev/gender/inclusion,Jamaica,52b213b38594d8a2be17c96f
1486,8,Human development,Lao People's Democratic Republic,52b213b38594d8a2be17c970
1487,5,Trade and integration,Lao People's Democratic Republic,52b213b38594d8a2be17c970
1488,2,Public sector governance,Lao People's Democratic Republic,52b213b38594d8a2be17c970
1489,8,Human development,Lao People's Democratic Republic,52b213b38594d8a2be17c970
1490,10,Rural development,Republic of Guinea,52b213b38594d8a2be17c971
1491,6,,Republic of Guinea,52b213b38594d8a2be17c971
1492,10,Rural development,Republic of Indonesia,52b213b38594d8a2be17c972
1493,10,Rural development,Republic of Indonesia,52b213b38594d8a2be17c972
1494,10,Rural development,Republic of Indonesia,52b213b38594d8a2be17c972
1495,9,Urban development,Republic of Kenya,52b213b38594d8a2be17c973
1496,8,Human development,Republic of Kenya,52b213b38594d8a2be17c973
1497,5,Trade and integration,Republic of Kenya,52b213b38594d8a2be17c973
1498,4,Financial and private sector development,Republic of Kenya,52b213b38594d8a2be17c973

In [20]:
# Next, check all possible values for major theme names
df_by_theme['name'].unique()

array(['Human development', '', 'Economic management',
       'Social protection and risk management', 'Trade and integration',
       'Public sector governance',
       'Environment and natural resources management',
       'Social dev/gender/inclusion',
       'Financial and private sector development', 'Rural development',
       'Urban development', 'Rule of law'], dtype=object)

In [21]:
# There are 12 unique major theme names, including empty space, ''.
# Next, create a dataframe mapping 'code' to 'name'.
df_code2name = df_by_theme[['code','name']]

# Take out obs with missing name and drop all duplicates
df_code2name = df_code2name[df_code2name.name!=''].drop_duplicates().sort_values('code')
df_code2name

    code                                          name
2      1                           Economic management
18    10                             Rural development
6     11  Environment and natural resources management
5      2                      Public sector governance
252    3                                   Rule of law
11     4      Financial and private sector development
4      5                         Trade and integration
3      6         Social protection and risk management
8      7                   Social dev/gender/inclusion
0      8                             Human development
53     9                             Urban development

In [22]:
# Then, we can merge this mapping back to the original dataframe.
df_by_theme = pd.merge(df_by_theme.drop('name', 1),df_code2name, on='code',how='left')
df_by_theme['name'].unique() # check if there is still missing value for 'name'.

array(['Human development', 'Environment and natural resources management',
       'Economic management', 'Social protection and risk management',
       'Trade and integration', 'Public sector governance',
       'Social dev/gender/inclusion',
       'Financial and private sector development', 'Rural development',
       'Urban development', 'Rule of law'], dtype=object)

In [23]:
# ANSWER TO QUESTION (2) : see output of this cell.
# 'df_by_theme' is the dataframe that the question asks for.
# Note that I put down top 11 to see that the 11th is truly less than the 10th. 
df_temp = df_by_theme[['name','_id.$oid']].groupby('name').count().sort_values('_id.$oid',ascending=False)
df_temp.head(11)

                                              _id.$oid
name
Environment and natural resources management       250
Rural development                                  216
Human development                                  210
Public sector governance                           199
Social protection and risk management              168
Financial and private sector development           146
Social dev/gender/inclusion                        130
Trade and integration                               77
Urban development                                   50
Economic management                                 38
Rule of law                                         15